{
  "printWidth": 400,
  "tabWidth": 2,
  "tabs": true,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "editor.formatOnSave": true,
  "overrides": [
    {
      "files": ["*.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore",
        "ignoreComments": true,
        "ignoreStrings": ["{% IFNOT related_goods.last %}{related_goods.index | is_divided(\"3\",\"</div><div class=swiper-slide>\",\"\")}{% ENDIF %}"]
      }
    },
    {
      "files": ["goods.htm"],
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
