@font-face {
  font-family: Rubik;
  font-style: normal;
  src: url('fonts/Rubik-VariableFont_wght.woff2') format('woff2-variations'),
  url('fonts/Rubik-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Rubik;
  font-style: italic;
  src: url('fonts/Rubik-Italic-VariableFont_wght.woff2') format('woff2-variations'),
  url('fonts/Rubik-Italic.woff2') format('woff2');
}