@font-face {
  font-family: Jost;
  font-style: normal;
  src: url('fonts/Jost-VariableFont_wght.woff2') format('woff2-variations'),
  url('fonts/Jost-Regular.woff2') format('woff2');
}
@font-face {
  font-family: Jost;
  font-style: italic;
  src: url('fonts/Jost-Italic-VariableFont_wght.woff2') format('woff2-variations'),
  url('fonts/Jost-Italic.woff2') format('woff2');
}
@font-face {
  font-weight: 700;
  font-family: Gilroy;
  font-style: normal;
  src: url('fonts/Gilroy-Bold.woff2') format('woff2');
}
@font-face {
  font-weight: 400;
  font-family: Gilroy;
  font-style: normal;
  src: url('fonts/Gilroy-Regular.woff2') format('woff2');
}
@font-face {
  font-weight: 300;
  font-family: Gilroy;
  font-style: normal;
  src: url('fonts/Gilroy-Light.woff2') format('woff2');
}