/*
** Основные переменные шаблона
*/
:root {
	--color-primary: #657984; /* синий */
	--color-secondary: #B78D70; /* коричневый */
	--color-tertiary: #F1BDBC; /* розовый */
	--color-gray: #cdc6ce; /* пыльная роза */
	--color-lightgray: #cdc6ce80;  /* пыльная роза 50% */
	--color-background: #cdc6ce33; /* пыльная роза 20% */
	--color-text-primary: #635258; /* темно-коричневый */
	--color-text-secondary: #423B3D; /* очень темно коричневый заголовки */
	--color-text-tertiary: #63525880; /* темно-коричневый 50% */
	--color-border: var(--color-gray); /* пыльная роза */
	--color-border-secondary: var(--color-lightgray); /* пыльная роза 50% */
	--color-border-tertiary: var(--color-text-primary); /* темно-коричневый */
	--color-disabled: var(--color-gray); /* пыльная роза */
	--color-error: #F9504D; /* красный */
	--color-shadow: #49525720;
	--border-radius: 4px;
	--scrollbar-width: 16px;
	--scrollbar-width-thin: 4px;
	--transition: all 300ms ease;
	--duration: 300ms;
	--font-primary: 'Jost', 'Arial', sans-serif;
	--font-secondary: 'Gilroy', 'Jost', 'Arial', sans-serif;

	/* Глобальные настройки переменных */
	--button-small: 32px;
	--button-medium: 40px;
	--button-large: 48px;
	--button-x-large: 52px;
	--text-size-small: 12px;
	--text-size-regular: 14px;
	--text-size-medium: 16px;
	--text-size-large: 18px;
	--text-height-small: 16px;
	--text-height-regular: 18px;
	--text-height-medium: 20px;
	--text-height-large: 24px;
	--icon-size-small: 14px;
	--icon-size-regular: 16px;
	--icon-size-medium: 20px;
	--icon-size-large: 24px;
	--heading-01: 36px;
	--heading-02: 32px;
	--heading-03: 28px;
	--heading-04: 24px;
	--heading-05: 20px;
	--heading-06: 18px;
}

/*
** Скеции
*/
.wrapper {overflow: hidden;}
.section {margin-block: 32px;position: relative;}
@media all and (min-width: 480px) {
	.section {margin-block: 24px;}
}
@media all and (min-width: 640px) {
	.section {margin-block: 40px;}
}
@media all and (min-width: 1440px) {
	.section {margin-block: 64px;}
}


/*
** Видимость элементов
*/
.is-hide {display: none;}
.is-hidden {visibility: hidden;opacity: 0;}
.is-visible {visibility: visible;opacity: 1;}
