/*
** Основные переменные шаблона
*/
:root {
	--color-primary: #A3CE54; /* 1_основной */
	--color-secondary: #B51F24; /* 2_основной */
	--color-black: #484545; /* черный */
	--color-gray: #B9C1C6; /* темный серый */
	--color-lightgray: #E1E6E9;  /* светлый серый */
	--color-background: #F1F4F6; /* фоновой */
	--color-text-primary: var(--color-black);
	--color-border: var(--color-gray);
	--color-border-secondary: var(--color-text-primary);
	--color-disabled: var(--color-lightgray);
	--color-error: #F9504D;
	--border-radius: 4px;
	--scrollbar-width: 16px;
	--scrollbar-width-thin: 4px;
	--transition: all 300ms ease;
	--duration: 300ms;
	--font-primary: 'Rubik', 'Arial', sans-serif;
	--font-secondary: 'Gilroy', 'Jost', 'Arial', sans-serif;

	/* Глобальные настройки переменных */
	--button-small: 32px;
	--button-medium: 44px;
	--button-large: 48px;
	--text-size-small: 12px;
	--text-size-regular: 14px;
	--text-size-medium: 16px;
	--text-size-large: 18px;
	--text-height-small: 16px;
	--text-height-regular: 18px;
	--text-height-medium: 20px;
	--text-height-large: 24px;
	--icon-size-small: 14px;
	--icon-size-regular: 16px;
	--icon-size-medium: 20px;
	--icon-size-large: 24px;
	--heading-01: 36px;
	--heading-02: 32px;
	--heading-03: 28px;
	--heading-04: 24px;
	--heading-05: 20px;
	--heading-06: 18px;
}

/*
** Скеции
*/
.wrapper {overflow: hidden;}
.section {margin-block: 32px;position: relative;}
@media all and (min-width: 480px) {
	.section {margin-block: 24px;}
}
@media all and (min-width: 640px) {
	.section {margin-block: 40px;}
}
@media all and (min-width: 1440px) {
	.section {margin-block: 64px;}
}

/*
** Шапка
*/
.header__inner {display: flex;gap: 16px;align-items: center;padding-block: 8px;}
.header-logo {flex-shrink: 0;}
.header-logo--middle {margin-right: auto;}
@media all and (min-width: 1024px) {
	.header__middle {color: white;background-color: var(--color-black);}
	.header-logo--middle {display: none;}
	.header__inner:not(.header__inner--middle) {gap: 16px 48px;padding-block: 12px;}
}
@media all and (max-width: 1023px) {
	.header__top {display: none;}
	.header-logo__link {display: block;width: 140px;height: 36px;}
}
@media all and (max-width: 639px) {
	.header-logo__link {width: 108px;height: 24px;}
}

/* Шапка. Контакты */
.header-contacts {display: none;}
@media all and (min-width: 1024px) {
	.header-contacts {display: flex;flex-shrink: 0;gap: 16px;align-items: center;}
	.header-contacts__icon {width: 58px;height: 58px;}
	.header-contacts__link {display: block;font-weight: 700;}
	.header-contacts__button {color: var(--color-gray);font-size: var(--text-size-regular);}
}

/* Шапка. Меню */
.is-loading .header-mainnav {overflow: hidden;}
.header-mainnav {position: relative;width: calc(100% - 216px - 204px - 48px - 48px);}
.header-mainnav__list {display: flex;margin: 0;padding: 0;list-style: none;}
.header-mainnav__item--more {order: 2;}
.header-mainnav__link {font-weight: 600;white-space: nowrap;text-transform: uppercase;padding-inline: 12px;}
.header-mainnav__dropdown {
	position: absolute;
	right: 0;
	z-index: 6;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 200px;
	margin: 12px 0 0;
	padding: 16px 8px;
	list-style: none;
	background-color: white;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: transform var(--duration);
}
.is-opened .header-mainnav__item--more svg {transform: rotate(180deg);}
.header-mainnav.is-opened .header-mainnav__dropdown, .header-mainnav__dropdown.is-opened {transform: scale(1);}

/* Шапка. Каталог */
.header-catalog {display: flex;}
@media all and (min-width: 640px) {
	.header-catalog__button svg {width: 30px;height: 30px;}
}
@media all and (min-width: 1024px) {
	.header-catalog__button {height: var(--button-large);color: white;font-weight: 700;background-color: rgb(255 255 255 / 10%);padding-inline: 20px;}
	.header-catalog__button:active {color: white;background-color: rgb(255 255 255 / 20%);}
	@media (hover: hover) and (pointer: fine) {
		.header-catalog__button:hover {color: white;background-color: rgb(255 255 255 / 20%);}
	}
}
@media all and (max-width: 1023px) {
	.header-catalog__button span {display: none;}
}

/* Шапка. Поиск */
.header-search {display: flex;}
.search__form {position: relative;display: none;align-items: center;width: 100%;text-align: left;}
.search__form button {position: absolute;height: 100%;padding: 0;}
.search__form button svg {flex-shrink: 0;}
.search__input {color: var(--color-black);font-size: var(--text-size-regular);padding-inline: 16px 96px;}
.search__submit {right: 16px;pointer-events: none;padding-inline: 16px;}
.search--success .search__submit {pointer-events: all;}
.search__reset {right: 52px;width: 14px;opacity: 0;pointer-events: none;}
.search--filled .search__reset {opacity: 1;pointer-events: all;}
.search__loader {position: absolute;top: 16px;right: 94px;opacity: 0;}
.search__loader span {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	border: 2px solid;
	border-color: var(--color-gray) transparent transparent transparent;
	border-radius: 100%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.search__loader span:nth-child(1) {animation-delay: -0.45s;}
.search__loader span:nth-child(2) {animation-delay: -0.3s;}
.search__loader span:nth-child(3) {animation-delay: -0.15s;}
.search--loading .search__loader {opacity: 1;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@media all and (min-width: 1024px) {
	.header-search {flex-grow: 1;}
	.search__icon {display: none;}
	.search__form {display: flex;}
}

/* Шапка. Добавить в корзину, избранное, сравнение, лк */
.header-addto {display: flex;gap: 16px;align-items: center;}
.addto__link {position: relative;display: flex;gap: 8px;align-items: center;}
.addto__link svg {flex-shrink: 0;color: var(--color-gray);}
.addto__count {display: none;font-weight: 700;}
.cart .addto__count {display: inline-block;color: var(--color-primary);}
.cart .addto__count::before {content: '(';}
.cart .addto__count::after {content: ')';}
.addto__link:is(.favorites, .compare):not(.is-empty)::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 6px;
	background-color: var(--color-primary);
	border-radius: 100%;
	content: '';
}
@media all and (min-width: 640px) {
	.cart.addto__link svg {width: 30px;height: 30px;}
	.search__icon svg {width: 30px;height: 30px;}
}
@media all and (min-width: 1024px) {
	.header-addto {margin-left: 24px;}
	.addto__link {color: white;}
}
@media all and (min-width: 1200px) {
	.header-addto {margin-left: 96px;}
}
@media all and (max-width: 1023px) {
	.addto__link.login {display: none;}
}
@media all and (max-width: 639px) {
	.addto__link:not(.cart) {display: none;}
}