/*
** Основные переменные шаблона
*/
:root {
	--color-primary: #A3CE54; /* 1_основной */
	--color-secondary: #B51F24; /* 2_основной */
	--color-black: #484545; /* черный */
	--color-gray: #B9C1C6; /* темный серый */
	--color-lightgray: #E1E6E9;  /* светлый серый */
	--color-background: #F1F4F6; /* фоновой */
	--color-text-primary: var(--color-black);
	--color-border: var(--color-lightgray);
	--color-border-secondary: var(--color-text-primary);
	--color-disabled: var(--color-lightgray);
	--color-error: #F9504D;
	--border-radius: 4px;
	--scrollbar-width: 16px;
	--scrollbar-width-thin: 4px;
	--transition: all 300ms ease;
	--duration: 300ms;
	--font-primary: 'Rubik', 'Arial', sans-serif;
	--font-secondary: 'Gilroy', 'Jost', 'Arial', sans-serif;

	/* Глобальные настройки переменных */
	--button-small: 32px;
	--button-medium: 44px;
	--button-large: 48px;
	--text-size-small: 12px;
	--text-size-regular: 14px;
	--text-size-medium: 16px;
	--text-size-large: 18px;
	--text-height-small: 16px;
	--text-height-regular: 18px;
	--text-height-medium: 20px;
	--text-height-large: 24px;
	--icon-size-small: 14px;
	--icon-size-regular: 16px;
	--icon-size-medium: 20px;
	--icon-size-large: 24px;
	--heading-01: 36px;
	--heading-02: 32px;
	--heading-03: 28px;
	--heading-04: 24px;
	--heading-05: 20px;
	--heading-06: 18px;
}

/*
** Скеции
*/
.wrapper {overflow: hidden;}
.section {margin-block: 32px;position: relative;}
@media all and (min-width: 480px) {
	.section {margin-block: 24px;}
}
@media all and (min-width: 640px) {
	.section {margin-block: 40px;}
}
@media all and (min-width: 1440px) {
	.section {margin-block: 64px;}
}

/*
** Шапка
*/
.header__inner {display: flex;gap: 16px;align-items: center;padding-block: 8px;}
.header-logo {flex-shrink: 0;}
.header-logo--middle {margin-right: auto;}
@media all and (min-width: 1024px) {
	.header__middle {color: white;background-color: var(--color-black);}
	.header-logo--middle {display: none;}
	.header__inner:not(.header__inner--middle) {gap: 16px 48px;padding-block: 12px;}
}
@media all and (max-width: 1023px) {
	.header__top {display: none;}
	.header-logo__link {display: block;width: 140px;height: 36px;}
}
@media all and (max-width: 639px) {
	.header-logo__link {width: 108px;height: 24px;}
}

/* Шапка. Контакты */
.header-contacts {display: none;}
@media all and (min-width: 1024px) {
	.header-contacts {display: flex;flex-shrink: 0;gap: 16px;align-items: center;}
	.header-contacts__icon {width: 58px;height: 58px;}
	.header-contacts__link {display: block;font-weight: 700;}
	.header-contacts__button {color: var(--color-gray);font-size: var(--text-size-regular);}
}

/* Шапка. Меню */
.is-loading .header-mainnav {overflow: hidden;}
.header-mainnav {position: relative;width: calc(100% - 216px - 204px - 48px - 48px);}
.header-mainnav__list {display: flex;margin: 0;padding: 0;list-style: none;}
.header-mainnav__item--more {order: 2;}
.header-mainnav__link {font-weight: 600;line-height: var(--text-height-medium);white-space: nowrap;text-transform: uppercase;padding-inline: 12px;}
.header-mainnav__dropdown {
	position: absolute;
	right: 0;
	z-index: 6;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 200px;
	margin: 12px 0 0;
	padding: 16px 8px;
	list-style: none;
	background-color: white;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius);
	transform: scale(1, 0);
	transform-origin: right top;
	transition: transform var(--duration);
}
.is-opened .header-mainnav__item--more svg {transform: rotate(180deg);}
.header-mainnav.is-opened .header-mainnav__dropdown, .header-mainnav__dropdown.is-opened {transform: scale(1);}

/* Шапка. Каталог */
.header-catalog {display: flex;}
@media all and (min-width: 640px) {
	.header-catalog__button svg {width: 30px;height: 30px;}
}
@media all and (min-width: 1024px) {
	.header-catalog__button {height: var(--button-large);color: white;font-weight: 700;background-color: rgb(255 255 255 / 10%);padding-inline: 20px;}
	.header-catalog__button:active {color: white;background-color: rgb(255 255 255 / 20%);}
	@media (hover: hover) and (pointer: fine) {
		.header-catalog__button:hover {color: white;background-color: rgb(255 255 255 / 20%);}
	}
}
@media all and (max-width: 1023px) {
	.header-catalog__button span {display: none;}
}

/* Шапка. Поиск */
.header-search {display: flex;}
.search__form {position: relative;display: none;align-items: center;width: 100%;text-align: left;}
.search__form button {position: absolute;height: 100%;padding: 0;}
.search__form button svg {flex-shrink: 0;}
.search__input {color: var(--color-black);font-size: var(--text-size-regular);padding-inline: 16px 96px;}
.search__submit {right: 16px;pointer-events: none;padding-inline: 16px;}
.search--success .search__submit {pointer-events: all;}
.search__reset {right: 52px;width: 14px;opacity: 0;pointer-events: none;}
.search--filled .search__reset {opacity: 1;pointer-events: all;}
.search__loader {position: absolute;top: 16px;right: 94px;opacity: 0;}
.search__loader span {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	margin: 0;
	border: 2px solid;
	border-color: var(--color-gray) transparent transparent transparent;
	border-radius: 100%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.search__loader span:nth-child(1) {animation-delay: -0.45s;}
.search__loader span:nth-child(2) {animation-delay: -0.3s;}
.search__loader span:nth-child(3) {animation-delay: -0.15s;}
.search--loading .search__loader {opacity: 1;}
@keyframes lds-ring {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@media all and (min-width: 1024px) {
	.header-search {flex-grow: 1;}
	.search__icon {display: none;}
	.search__form {display: flex;}
}

/* Шапка. Добавить в корзину, избранное, сравнение, лк */
.header-addto {display: flex;gap: 16px;align-items: center;}
.addto__link {position: relative;display: flex;gap: 8px;align-items: center;}
.addto__link svg {flex-shrink: 0;color: var(--color-gray);}
.addto__count {display: none;font-weight: 700;}
.cart .addto__count {display: inline-block;color: var(--color-primary);}
.cart .addto__count::before {content: '(';}
.cart .addto__count::after {content: ')';}
.addto__link:is(.favorites, .compare):not(.is-empty)::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 6px;
	background-color: var(--color-primary);
	border-radius: 100%;
	content: '';
}
@media all and (min-width: 640px) {
	.cart.addto__link svg {width: 30px;height: 30px;}
	.search__icon svg {width: 30px;height: 30px;}
}
@media all and (min-width: 1024px) {
	.header-addto {margin-left: 24px;}
	.addto__link {color: white;}
}
@media all and (min-width: 1200px) {
	.header-addto {margin-left: 96px;}
}
@media all and (max-width: 1023px) {
	.addto__link.login {display: none;}
}
@media all and (max-width: 639px) {
	.addto__link:not(.cart) {display: none;}
}

/* Шапка. Промо */
.header__bottom {box-shadow: 0 4px 20px rgb(72 69 69 / 5%);}
.header-promo__list {
	display: flex;
	gap: 24px;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: auto;
	list-style: none;
	scroll-snap-type: x mandatory;
}
.header-promo__item {display: flex;gap: 12px;align-items: center;white-space: nowrap;scroll-snap-align: start;}
.header-promo__item svg {flex-shrink: 0;}
@media all and (max-width: 1023px) {
	.header-promo__item {font-size: var(--text-size-regular);}
	.header-promo__item svg {width: 20px;height: 20px;}
}


/* Слайдер на главной. */

/* 
** Баннеры на главной.
*/
#banners {
	overflow: hidden;
	--swiper-pagination-color: var(--color-black);
	--swiper-pagination-bullet-width: 30px;
	--swiper-pagination-bullet-height: 4px;
	--swiper-pagination-bullet-inactive-color: var(--color-gray);
	--swiper-pagination-bullet-border-radius: 0;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bottom: 0;
}
.is-loading #banners .swiper-slide {display: none;}
.banners__items.swiper {padding-bottom: 20px;}
.banners__item {position: relative;background-color: var(--color-background);}
.banners__images {position: relative;display: block;}
.banners__images::before {position: absolute;z-index: 1;background-color: rgb(72 69 69 / 20%);content: '';inset: 0;}
.banners__title {
	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 2;
	padding: 20px 24px;
	font-weight: 600;
	font-size: var(--text-size-large);
	text-transform: uppercase;
	background-color: white;
	transform: skew(10deg, -10deg);
	transition: color var(--duration);
}
.banners__link {
	position: absolute;
	bottom: 80px;
	left: 60px;
	z-index: 2;
	padding: 8px 4px 8px 12px;
	color: white;
	font-weight: 500;
	font-size: var(--text-size-small);
	text-transform: uppercase;
	background: linear-gradient(to right, var(--color-secondary) calc(100% - 20px), white calc(100% - 20px));
	transform: skew(-10deg, -10deg);
}
.banners__link svg {margin-left: 8px;color: var(--color-text-primary);transform: rotate(-90deg);}
.banners__item:active .banners__title {color: var(--color-primary);}
@media (hover: hover) and (pointer: fine) {
	.banners__item:hover .banners__title {color: var(--color-primary);}
}
@media all and (min-width: 640px) {
	.is-loading #banners .swiper-wrapper {display: grid;grid-template-columns: repeat(2, 1fr);}
	.is-loading #banners .swiper-slide:nth-child(-n+2) {display: flex;}
}
@media all and (min-width: 768px) {
	.banners__title {bottom: 55px;left: 25px;}
	.banners__link {bottom: 110px;}
}
@media all and (min-width: 1024px) {
	.is-loading #banners .swiper-wrapper {grid-template-columns: repeat(3, 1fr);}
	.is-loading #banners .swiper-slide:nth-child(-n+3) {display: flex;}
}


/*
** Новости на главной.
*/
.news__item {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: flex-start;
	width: 100%;
}
.news__images {
	position: relative;
	display: flex;
	width: 100%;
	height: 180px;
	overflow: hidden;
	background-color: var(--color-background);
	border-radius: var(--border-radius);
}
.news__title {
	display: -webkit-box;
	overflow: hidden;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.news__title::before {position: absolute;z-index: 2;content: '';inset: 0;}
.news__button {margin: auto 8px 0;}
.news__button svg {transform: rotate(-90deg);}
.news__date {
	position: absolute;
	top: 152px;
	left: 8px;
	padding: 4px 12px;
	font-weight: 600;
	font-size: var(--text-size-small);
	font-style: italic;
	background-color: white;
}
.news__desc {display: none;margin: 0;}
.news__hover {
	position: absolute;
	z-index: 2;
	background-color: white;
	background-position: center;
	background-size: cover;
	inset: 0;
}
.news__item:hover .news__hover {display: flex;flex-direction: column;align-items: flex-start;justify-content: flex-end;}
.news__hover .news__date {position: relative;top: auto;}
.news__hover .news__title {width: 100%;margin-top: 8px;padding: 8px 16px;color: white;background-color: rgb(72 69 69 / 20%);}
.is-loading #news .swiper-slide {display: none;}
.is-loading #news .swiper-slide:nth-child(-n+1) {display: flex;}
@media all and (min-width: 640px) {
	.news__title {-webkit-line-clamp: 3;}
	.is-loading .news__item:nth-child(-n+2) {display: flex;}
	.is-loading #news .swiper-wrapper {display: grid;grid-template-columns: repeat(2, 1fr);gap: 16px;}
	.is-loading #news .swiper-slide:nth-child(-n+2) {display: flex;}
}
@media all and (min-width: 768px) {
	.news__images {height: 240px;}
	.news__date {top: 212px;}
	.news__desc {display: block;}
	.news__desc span {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}
}
@media all and (min-width: 1024px) {
	.is-loading #news .swiper-wrapper {grid-template-columns: repeat(3, 1fr);}
	.is-loading #news .swiper-slide:nth-child(-n+3) {display: flex;}
}


/*
** Подписка
*/
.subscribe__inner {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 20px;
	color: white;
	background-color: var(--color-black);
}
.subscribe__icon {fill: currentcolor;}
.subscribe__title {text-transform: uppercase;}
.subscribe__form {position: relative;width: 100%;}
.subscribe__button {position: absolute;top: 12px;right: 16px;}
.subscribe__input {padding-right: 40px;}
.subscribe__pp {display: block;margin-top: 8px;opacity: 0.5;}
.subscribe__pp a {color: inherit;text-decoration: underline;}
@media (hover: hover) and (pointer: fine) {
	.subscribe__button:hover {color: var(--color-primary);}
}
@media all and (min-width: 480px) {
	.subscribe__title {align-self: center;width: calc(100% - 40px - 12px);}
}
@media all and (min-width: 768px) {
	.subscribe__title {width: calc(100% - 60px - 12px - 310px - 12px);}
	.subscribe__form {width: 310px;}
	.subscribe__icon svg {width: 60px;height: 60px;}
}
@media all and (min-width: 1024px) {
	.subscribe__inner {padding-inline: 32px;gap: 32px;}
	.subscribe__title {width: calc(100% - 60px - 32px - 480px - 32px);}
	.subscribe__form {width: 480px;}
}
@media all and (min-width: 1200px) {
	.subscribe__inner {padding-inline: 80px;}
}


/*
** Подвал
*/
#footer {background-color: var(--color-background);}
.footer__inner {display: grid;align-items: flex-start;padding-block: 40px;}

/* Подвал. О компании */
.footer-about {position: relative;display: none;}
@media all and (min-width: 1024px) {
	.footer__inner {grid-template-columns: 352px 1fr;}
	.footer-about {display: block;grid-row: 1 / 3;height: 476px;margin-right: 32px;color: white;	}
	.footer-about__title {position: absolute;bottom: 60px;left: 12px;}
	.footer-about__text {position: absolute;bottom: 12px;left: 12px;}
	.footer-about img {width: 100%;height: 100%;object-fit: cover;}
}
@media all and (min-width: 1200px) {
	.footer__inner {grid-template-columns: 480px 1fr;}
	.footer-about {margin-right: auto;}
}

/* Подвал. Контакты */
.footer-contacts {
	display: grid;
	grid-template-columns: 100%;
	gap: 12px 24px;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-border);
}
.footer-contacts__link {font-weight: 600;}
.footer-contacts__link--phone {display: block;font-weight: 700;}
.footer-contacts__link--email {color: var(--color-gray);font-weight: 400;font-size: var(--text-size-regular);}
@media all and (min-width: 480px) and (max-width: 639px) {
	.footer-contacts {grid-template-columns: repeat(2, 1fr);}
	.footer-contacts__block:last-child {grid-column: 1 / 3;}
}
@media all and (min-width: 640px) {
	.footer-contacts {grid-template-columns: repeat(3, 1fr);margin-bottom: 32px;padding-bottom: 32px;}
}

/* Подвал. Социальные сети */
.social__links {display: flex;gap: 12px;margin: 0;padding: 0;list-style: none;}
.social__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 40px;
	color: white;
	background-color: var(--color-lightgray);
	transform: skew(-15deg);
}
.social__link svg {transform: skew(15deg);}
.social__link span {display: none;}

/* Подвал. Блоки */
.footer__blocks {
	display: flex;
	flex-wrap: wrap;
	grid-column: 1 / 4;
	gap: 24px;
	justify-content: space-between;
	width: 100%;
	color: var(--color-gray);
	font-size: var(--text-size-regular);
	line-height: var(--text-height-regular);
}
.footer__blocks .footer__block:last-child {text-align: right;}
.footer__title {position: relative;font-weight: 600;font-size: var(--heading-06);text-transform: uppercase;}
.footer__links {margin: 16px 0 0;padding: 0;list-style: none;}
.footer__link {display: block;padding-block: 6px;}
.footer__links li:nth-child(n+10) {display: none;}
@media all and (min-width: 480px) {
	.footer__title svg {display: none;}
}
@media all and (min-width: 640px) {
	.footer-blocks {display: grid;grid-template-columns: repeat(3, 1fr);gap: 24px;justify-content: space-between;}
}
@media all and (max-width: 639px) {
	.footer-blocks > .footer__block {margin-bottom: 16px;padding-bottom: 16px;border-bottom: 1px solid var(--color-border);}
}
@media all and (max-width: 479px) {
	.footer__links {display: none;}
	.footer__block.is-opened .footer__links {display: block;}
	.footer__block .footer__title svg {position: absolute;right: 12px;transform: rotate(-90deg);}
	.footer__block.is-opened .footer__title svg {transform: rotate(0deg);}
}

/* Подвал. Платежные системы */
.payments__links {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin: 12px 0 0;
	padding: 0;
	list-style: none;
}
.payments__link {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 30px;
	background-color: white;
}
.payments__link span {display: none;}

/* Подвал. Копирайт */
.footer-copyright {
	margin: 0;
	color: var(--color-gray);
	font-size: var(--text-size-small);
	text-align: center;
	border-top: 1px solid var(--color-border);
	padding-block: 12px;
}













/*
** Категории. Категории на главной.
*/
.categories__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.categories__buttons {margin-top: 32px;text-align: center;}
#categories .categories__item {display: none;}
#categories .categories__item:nth-child(-n+2) {display: flex;}
.categories__item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px 8px 8px;
	overflow: hidden;
	background: linear-gradient(to bottom, var(--color-background) 70%, #fff 70%);
	border-radius: var(--border-radius);
}
.categories__images {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	overflow: hidden;
	border-radius: var(--border-radius);
	aspect-ratio: 1.1 / 1;
}
.is-loading .categories__images {width: 120px;height: 120px;}
.categories__images::after {position: absolute;z-index: 2;content: '';inset: 0;}
.categories__name {
	margin-bottom: auto;
	overflow: hidden;
	font-weight: 600;
	line-height: var(--text-height-medium);
	text-align: center;
}
.categories__name span {
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow-wrap: anywhere;
	hyphens: auto;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.categories__item:active .categories__name {color: var(--color-primary);}
@media (hover: hover) and (pointer: fine) {
	.categories__item:hover .categories__name {color: var(--color-primary);}
}
@media all and (min-width: 480px) and (max-width: 639px) {
	.is-loading .categories__images {width: 200px;height: 180px;}
}
@media all and (min-width: 640px) and (max-width: 767px) {
	.categories__grid {grid-template-columns: repeat(3, 1fr);}
	#categories .categories__item:nth-child(-n+3) {display: flex;}
	.is-loading .categories__images {width: 176px;height: 156px;}
}
@media all and (min-width: 768px) {
	.categories__grid {grid-template-columns: repeat(4, 1fr);}
	#categories .categories__item:nth-child(-n+4) {display: flex;}
	.is-loading .categories__images {width: 156px;height: 140px;}
}
@media all and (min-width: 1024px) {
	.is-loading .categories__images {width: 196px;height: 180px;}
	.categories__images {aspect-ratio: 1.2 / 1;}
}
@media all and (min-width: 1200px) {
	.categories__grid {grid-template-columns: repeat(5, 1fr);}
	#categories .categories__item:nth-child(-n+5) {display: flex;}
}
@media all and (max-width: 479px) {
	.categories__name {font-size: var(--text-size-regular);line-height: var(--text-height-regular);}
	.categories__images {aspect-ratio: 1 / 1;}
}
